  <div class="mt-2 py-8 px-4 sm:px-6 lg:px-8 md:flex md:items-center md:justify-evenly">
    <div class="flex space-x-6 md:order-2">
      <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/tomreifenberg/" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://twitter.com/kernel_panicked" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://tomreifenberg.medium.com/" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Medium" aria-label="Medium"><i class="fa fa-medium" aria-hidden="true"></i></a>
      <a href="https://glitch.com/@tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Glitch" aria-label="Glitch"><i class="fa fa-trash" aria-hidden="true"></i></a>

    </div>
  
        <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">Made with <i class="fa fa-heart-o"></i>, <a href="https://angular.io/" target="_blank" class="mt-8 text-base text-gray-400 hover:text-gray-500 md:mt-0 md:order-1 ">Angular</a>, and <a href="https://tailwindcss.com/" target="_blank" class="mt-8 text-base text-gray-400 hover:text-gray-500 md:mt-0 md:order-1 ">Tailwind</a></p>
        <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; Tom Reifenberg {{ currentYear }} </p>
    
  </div>