  <div class="mt-2 py-8 px-4 sm:px-6 lg:px-8 md:flex md:items-center md:justify-evenly">
    <div class="flex space-x-6 md:order-2">
      <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/tomreifenberg/" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500"><i class="fa fa-linkedin"></i></a>
      <a href="https://twitter.com/kernel_panicked" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://tomreifenberg.medium.com/" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Medium" aria-label="Medium"><i class="fa fa-medium" aria-hidden="true"></i></a>
      <a href="https://glitch.com/@tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-gray-500" title="Glitch" aria-label="Glitch"><i class="fa fa-trash" aria-hidden="true"></i></a>

    </div>
  
    <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; {{ currentYear }} Tom Reifenberg. Made with <i class="fa fa-heart-o"></i>, Angular, and Tailwind <i class="fa fa-angular"></i></p>
  </div>