  <div class="mt-2 py-8 px-4 sm:px-6 lg:px-8 flex items-center justify-around">
        <p class="mt-8 text-base text-gray-400 md:mt-0">Made with <a href="https://www.youtube.com/watch?v=KwdYUIQzu-o" target="_blank" class="mt-8 text-base text-gray-400 hover:text-red-500 md:mt-0 md:order-1 "><i class="fa fa-heart-o"></i></a>, <a href="https://angular.io/" target="_blank" class="mt-8 text-base text-gray-400 hover:text-red-500 md:mt-0 md:order-1 ">Angular</a>, and <a href="https://tailwindcss.com/" target="_blank" class="mt-8 text-base text-gray-400 hover:text-red-500 md:mt-0 md:order-1 ">Tailwind</a></p>
        <p class="mt-8 text-base text-gray-400 md:mt-0">&copy; Tom Reifenberg {{ currentYear }} </p>
           <div class="flex space-x-6 md:order-2">
      <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-red-500"><i class="fab fa-github"></i></a>
      <a href="https://dev.to/tomreifenberg" target="_blank" class="text-2xl text-gray-400 hover:text-red-500" title="DEV" aria-label="DEV"><i class="fab fa-dev" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/tomreifenberg/" target="_blank" class="text-2xl text-gray-400 hover:text-red-500"><i class="fab fa-linkedin"></i></a>
      <a href="https://twitter.com/kernel_panicked" target="_blank" class="text-2xl text-gray-400 hover:text-red-500" title="Twitter" aria-label="Twitter"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://tomreifenberg.medium.com/" target="_blank" class="text-2xl text-gray-400 hover:text-red-500" title="Medium" aria-label="Medium"><i class="fab fa-medium" aria-hidden="true"></i></a>
      

    </div>
    
  </div>