
<div class="text-center mt-5 ml-5 mr-5">

  <div class="justify-center max-w-lg rounded overflow-hidden shadow-lg my-2 mt-5">
    <img class="w-full" src="../assets/images/moving.jpeg" >
    <div class="px-6 mt-4 mb-2">
      <p class="text-left font-bold text-gray-800 text-xl mb-2"> I've Moved!</p>
      <p class="text-gray-500 text-lg" > Please click the button below to explore my new portfolio.</p>
    </div>
    <div class="flex items-left">
      <div class=" p-5 mb-3 bg-white border-gray-200 text-right">
        <a class="bg-gray-800 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-red-500 rounded uppercase"
           href="https://tomreifenberg.design/"
           target="_blank">
          Visit Portfolio Site
        </a>
      </div>
    </div>
  </div>

    <img class="inline-block align-middle mt-10 rounded-full h-44  leading-8" src="../assets/images/reifenberg-profile-pic.jpg" />
    <h2 class="text-base text-red-500 mt-5 font-semibold tracking-wide uppercase">
      Hello There!
    </h2>
    <p
      class="mt-5 text-xl leading-8 font-bold tracking-tight text-gray-800 sm:text-4xl"
    >
      I'm Tom, A UX Designer
    </p>

    <p class="text-center max-w-m text-xl mt-5 text-gray-500 ">
      After a rewarding career designing landscapes for cities, I adapted my knack for systems-based thinking and problem solving to full stack development; these skillsets both come together in my work as a UX Designer.
    </p>
    <p class="text-center max-w-m text-xl mt-3 text-gray-500 ">
      I enjoy building design systems, digging into new frameworks, and collaborating with everyone to make delightful applications. When I'm not honing these skills, I spend my time cooking, camping, and playing videogames.
    </p>
  </div>
