
<div class="text-center mt-5 ml-5 mr-5">

    <img class="inline-block align-middle mt-10 rounded-full h-44  leading-8" src="../assets/images/reifenberg-profile-pic.jpg" />
    <h2 class="text-base text-red-500 mt-5 font-semibold tracking-wide uppercase">
      Hello There!
    </h2>
    <p
      class="mt-5 text-xl leading-8 font-bold tracking-tight text-gray-800 sm:text-4xl"
    >
      I'm Tom, A UX Designer
    </p>

    <p class="text-center max-w-m text-xl mt-5 text-gray-500 ">
      After a rewarding career designing landscapes for cities, I adapted my knack for systems-based thinking and problem solving to full stack development; these skillsets both come together in my work as a UX Designer.
    </p>
    <p class="text-center max-w-m text-xl mt-3 text-gray-500 ">
      I enjoy building design systems, digging into new frameworks, and collaborating with everyone to make delightful applications. When I'm not honing these skills, I spend my time cooking, camping, and playing videogames.
    </p>
  </div>
