<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gray-800 mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-xl  leading-relaxed inline-block mr-4 py-2 whitespace-nowrap text-white" href="/">
          Tom Reifenberg
        </a>
        <!-- <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
            <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500"><i class="fa fa-bars"></i></a>
        </button> -->
      </div>
      <div class="lg:flex flex-grow items-center" id="example-navbar-warning">
        <ul class="flex flex-row md:flex-row list-none ml-auto">
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white">
                <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500"><i class="fa fa-github"></i></a>

            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white" href="#pablo">
                <a href="https://www.linkedin.com/in/tomreifenberg/" target="_blank" class="text-2xl text-white hover:text-red-500"><i class="fa fa-linkedin-square"></i></a>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white" href="#pablo">
                <a href="https://twitter.com/kernel_panicked" target="_blank" class="text-2xl text-white hover:text-red-500" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white" href="#pablo">
                <a href="https://tomreifenberg.medium.com/" target="_blank" class="text-2xl text-white hover:text-red-500" title="Medium" aria-label="Medium"><i class="fa fa-medium" aria-hidden="true"></i></a>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white" href="#pablo">
                <a href="https://glitch.com/@tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500" title="Glitch" aria-label="Glitch"><i class="fa fa-cubes" aria-hidden="true"></i></a>
            </a>
          </li>
        </ul>
      </div>
    </div>
