<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-gray-800 mb-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between max-w-screen-lg">
      <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
        <a class="text-xl  leading-relaxed inline-block mr-4 py-2 whitespace-nowrap text-white">
          Tom Reifenberg
        </a>
      </div>
      <div class="lg:flex flex-grow items-center" id="">
        <ul class="flex flex-row md:flex-row list-none ml-auto">
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white">
                <a href="https://github.com/tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500"><i class="fa fa-github"></i></a>

            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white">
                <a href="https://hashnode.com/@tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500" title="Hashnode" aria-label="Hashnode"><i class="fa-brands fa-hashnode" aria-hidden="true"></i></a>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white">
                <a href="https://www.linkedin.com/in/tomreifenberg/" target="_blank" class="text-2xl text-white hover:text-red-500"><i class="fab fa-linkedin"></i></a>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white">
                <a href="https://www.strava.com/athletes/tomreifenberg" target="_blank" class="text-2xl text-white hover:text-red-500" title="Strava" aria-label="Strava"><i class="fa-brands fa-strava" aria-hidden="true"></i></a>
            </a>
          </li>
        </ul>
      </div>
    </div>
