<div class="grid place-items-center  mt-10 mb-5 ml-5 mr-5">
    <p
    class="text-center mb-5 text-xl leading-8 font-bold tracking-tight text-gray-800 sm:text-4xl"
    >
    Projects 
  </p>
        <span class="" *ngFor="let project of projects">


            <div class="justify-center max-w-lg rounded overflow-hidden shadow-lg my-2 mt-5">
                <img class="w-full" [src]="project.imagePath" [alt]="project.name">
                <div class="px-6 py-4">
                <div class="font-bold text-gray-800 text-xl mb-2" [innerText]="project.name"></div>
                <p class="text-gray-500 text-lg" [innerText]="project.description"></p>
                </div>
                <div class="flex items-left">
                    <div class=" p-5 mb-3 bg-white border-gray-200 text-right">
                        <a class="bg-gray-800 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-red-500 rounded uppercase" 
                            [href]="project.projectLink"
                            target="_blank">
                            View Project
                        </a>
                    </div>
    
                </div>
            </div>
        </span>

</div>