<div class="text-left mt-10 mb-5 ml-5 mr-5">
    <p
    class="text-center mt-20 mb-5 text-xl leading-8 font-bold tracking-tight text-gray-800 sm:text-4xl"
    >
    Projects 
  </p>

    <div class="">
        <span class="list-group-item clearfix" *ngFor="let project of projects">

            <div class="max-w-md w-full lg:flex mt-5">
                <img [src]="project.imagePath" [alt]="project.name"
                    class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
                    style="background-image">
        
                <div
                    class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                    <div class="mb-5">
                        <div class="text-black font-bold text-xl mb-2" [innerText]="project.name"></div>
                        <p class="text-grey-darker text-base" [innerText]="project.description"></p>
                    </div>
                    <div class="flex items-left">
                        <div class="mb-3 bg-white border-gray-200 text-right">
                            <!-- button link -->
                            <a class="bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded uppercase" 
                                [href]="project.projectLink">View Project</a>
                        </div>
        
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>